* {
  box-sizing: border-box;
}

.cf::before,
.cf::after {
    content: "";
    display: table; 
}

.cf::after {
    clear: both;
}

html {
  position: relative;
}

img {
  max-width: 100%;
}


body {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-top: 0;
}

h1 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a, a:hover, a:focus, a:active, a:visited {
  color: #E74C3C;
  text-decoration: underline;
}


.container-fluid {
  padding: 0 1em;
}

.container {
  margin: 0 auto;
  max-width: 996px;
}


@keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.45);
  position: relative;
  top: 0;
}

nav a, nav a:hover, nav a:focus,  nav a:active, nav a:visited {
  text-decoration: none;
}

nav .brand {
  display: inline-block;
  float: left;
  font-size: 1.25em;
  font-weight: 900;
}

nav .brand a {
  color: #444;
  display: block;
  padding: 1em 0;
}

nav .nav-toggle {
  color: #444;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.25em;
  padding: 1em 0;
  z-index: 1000
}

nav ul {
  border-top: 1px solid #ccc;
  clear: both;
  list-style: none;
  margin: 0 -1em;
  padding: 0;
  z-index: 999;
}

nav ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

nav ul li a {
  color: #444;
  display: block;
  padding: .75em;
}

nav.sticky {
  animation: show-header .5s ease;
  position: fixed;
  top: 0;
  width: 100%;
}

.splash {
  background: linear-gradient(rgba(44, 62, 80, 0.65), rgba(52, 152, 219, 0.65)),
				url("https://images.unsplash.com/photo-1452796907770-ad6cd374b12d?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925") no-repeat fixed center;
	background-size: cover;
	color: #fff;
}

.splash .container {
  padding-top: 25vh; /* No JS fallback*/
  padding-bottom: 25vh; /* No JS fallback*/
}

.profile-image {
  border-radius: 50%;
  display: block;
  max-width: 200px;
  margin: 0 auto 1em;
  width: 100%;
}

.splash h1 {
  font-size: 3em;
  margin-bottom: .15em;
  text-align: center;
}

.splash .lead, .splash .continue {
  display: block;
  text-align: center;
}

.splash .lead {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 1em;
}

.splash .continue {
  font-size: 4em;
}

.splash .continue a {
  border: 4px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 80px;
}
.splash .continue a:hover {
  background-color: rgba(255, 255, 255, .25);
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  gap: 20px;
  background: rgb(2, 54, 46);
  color: aqua;
}

.products {
  width: 30%;
  box-shadow: 3px 3px 3px 3px rgba(90, 41, 41, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-image {
  width: 100%;
  height: 300px;  
  padding: 20px;
  object-fit: cover;
}

/* cart */
#cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background-color: #0a0d0f;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: aqua;
}

#cart-button {
  position: fixed;
  right: 5%;
  top: 10%;
  z-index: 10;
  margin-top: -37px;
  margin-right: -45px;
  color:rgb(42, 165, 165);
  background-color: #0a0d0f;
  border-radius: 2%;
}

#cart.active {
  left: 0;
}

.intro .container, .features .container, .portfolio .container, .contact .container {
  padding: 5em 0;
}

.intro, .features, .portfolio, .contact {
  text-align: center;
}

.intro {
  background-color: #E74C3C;
  color: #fff;
}

.intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
  color: #fff;
}

.features img {
  display: block;
  margin: 0 auto 1em;
  max-width: 200px;
}

.features .col-3 {
  margin: 3em auto;
  width: 100%;
}

.portfolio {
  background-color: #3498DB;
  color: #fff;
}

.gallery .gallery-image {
  margin: 1em auto;
  width: 100%;
}

.gallery .gallery-image img {
  background-color: #23648F;
  border-radius: 4px;
  display: block;
  height: auto;
  padding: 6px;
  width: 100%;
}

.contact form {
  background-color: #f0f0f0;
  border-radius: 4px;
  border-top: 8px solid #E74C3C;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  padding: 1em;
}

.contact form input, .contact form textarea {
  border: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.contact form textarea {
  height: 6em;
}

.contact form input[type="submit"] {
  background-color: #E74C3C;
  border-radius: 0;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
}

/* ========================
Footer
======================== */
/* REMOVE THIS, USE YOUR OWN  */
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #070617;
}
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/* .footer {
  background-color: #2C3E50;
  color:  #fff;
  font-size: 1.5em;
  text-align: center;
}

.footer .container {
  padding: 1em 0;
}

.footer a {
  color: #fff;
  margin-right: 1em;
}

.footer a:last-of-type {
  margin-right: 0;
} */

/* ========================
Media Queries
======================== */

@media (min-width: 768px) {
  
  nav .nav-toggle {
    display: none;
  }
  
  nav ul {
    border: none;
    clear: none;
    display: inline-block !important;
    float: right;
    margin: 0;
    padding: 25px 0;
  }
  
  nav ul li {
    border: none;
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  
  nav ul li:last-of-type {
    margin-right: 0;
  }
  
  nav ul li a {
    padding: 0;
  }
  
  .splash h1 {
    font-size: 6em;
  }
  
  .splash .lead {
    font-size: 3em;
  }
  
  .features .col-3 {
    float: left;
    margin: 2em 5% 0 0;
    padding: 0 1em;
    width: 30%;
  }
  
  .features .col-3:last-of-type {
    margin-right: 0;
  }
  
  .gallery .gallery-image {
    float: left;
    margin-right: 2.5%;
    width: 31.6666666667%;
  }
  
  .gallery .gallery-image:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .contact form {
    padding: 3em 2em 2em;
  }
  
  .contact form input[type="submit"] {
    padding: 1em 3em;
    width: auto;
  }
  
  .contact form input.full-half {
    float: left;
    margin-right: 2.5%;
    width: 48.75%;
  }
  
  .contact form input.full-half:nth-of-type(2n) {
    margin-right: 0;
  }
  
  .contact form textarea {
    height: 12em;
  }
  
}